Connected Services/ServiceReferenceWSTwo/AWebServiceToHandleDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="LU_SYSA14_2020_IntegrationTechnologies_CSG19" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="LU_SYSA14_2020_IntegrationTechnologies_CSG19" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="LU_SYSA14_2020_IntegrationTechnologies_CSG19">
      <s:element name="DisplayAllProducts">
        <s:complexType />
      </s:element>
      <s:element name="DisplayAllProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayAllProductsResult" type="tns:ArrayOfProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDiscription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StockQuantity" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DisplayAllProductsSoapIn">
    <wsdl:part name="parameters" element="tns:DisplayAllProducts" />
  </wsdl:message>
  <wsdl:message name="DisplayAllProductsSoapOut">
    <wsdl:part name="parameters" element="tns:DisplayAllProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="AWebServiceToHandleDBSoap">
    <wsdl:operation name="DisplayAllProducts">
      <wsdl:input message="tns:DisplayAllProductsSoapIn" />
      <wsdl:output message="tns:DisplayAllProductsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AWebServiceToHandleDBSoap" type="tns:AWebServiceToHandleDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayAllProducts">
      <soap:operation soapAction="LU_SYSA14_2020_IntegrationTechnologies_CSG19/DisplayAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AWebServiceToHandleDBSoap12" type="tns:AWebServiceToHandleDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayAllProducts">
      <soap12:operation soapAction="LU_SYSA14_2020_IntegrationTechnologies_CSG19/DisplayAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AWebServiceToHandleDB">
    <wsdl:port name="AWebServiceToHandleDBSoap" binding="tns:AWebServiceToHandleDBSoap">
      <soap:address location="https://localhost:44327/AWebServiceToHandleDB.asmx" />
    </wsdl:port>
    <wsdl:port name="AWebServiceToHandleDBSoap12" binding="tns:AWebServiceToHandleDBSoap12">
      <soap12:address location="https://localhost:44327/AWebServiceToHandleDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>